<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/cv">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cami.merz@gmail.com">Email</a></li>
	        		<li><a href="https://www.linkedin.com/in/camimerz/">LinkedIn</a></li>
	        		<li><a href="https://github.com/camerz">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
